body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
    padding:0;
    border: 0;
}
body{
    font-family:"微软雅黑";
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
/* header   头部 */
.header{
    background-color: white;
    margin: 5px auto;
    width: 1190px;
}
/* header   左边 */
.headerLeft{
    line-height: 52px;
    overflow: hidden;
}
.logo{
    display: block;
    float: left;
    height: 42px;
    width: 181px;
    background: url(../img/logo.gif) no-repeat;
    background-size: 100%;
}
.logo_box{
    float: left;
    padding: 0 10px;
}
.headerLeft a{
    padding: 0 10px;
    line-height: 40px;
    color: #333;
}
/* header   右边 */
.headerRight{
    /* clear: left; */
    float: right;
    content: "";
    display: table;
    line-height: 40px;
}
.right{
    float: left;
    padding-left: 10px;
    line-height: 40px;
}
.headerRight a{
    line-height: 40px;
    display: inline-block;
    padding-right: 10px;
} 

/* banner  轮播图*/
.banner{
    width: 100%;
    height: 550px;
}
#bannerPic{
    width: 100%;
    height: 550px;
}

#spans{
    text-align: center;
}
#spans span{
    width: 140px;
    height: 30px;
    display: inline-block;
    /* float: left; */
    background-color: #4b4b4b;
    font-size:12px;
    color: #fcffff;
    margin-right: 1px;
    margin:  10px  auto;
    line-height: 30px;
}
/* Right popover 右边弹出窗 */
.rightPopover{
    width: 315px;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: 300;
    right: -280px;
    content: "";
    display: table;
    clear: both;
}
.list{
    width: 35px;
    position: absolute;
    left: 0;
    top: 30%;
    float: left;
}
.list-logo{
    height: 40px;
    width: 35px;
    position: relative;
    left: 0;
    background: #000;
    margin: 4px 0;
    cursor: pointer;
}
.list-logo div{
    background-position: 3px -224px;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/index-icon.png) no-repeat;
}
.shoppingTrolley{
    height: 95px;
    width: 35px;
    position: relative;
    left: 0;
    background: #000;
    margin: 4px 0;
    cursor: pointer;
}
/* 遮罩层 */
.content{
    height: 880px;
    background: #f3f3f3;
    margin: 30px auto;
}

.Max{
    height: 880px;
    width: 1190px;
    margin: 0 auto;
}

.case_one{
	position: relative;
    height: 480px;
    width: 580px;
    margin-right: 15px;
    margin-bottom: 40px;
    float: left;
}

.case_one img{
    display: block;
}
.word{
    width: 580px;
    /* height: 120px; */
    text-align: center;
}
.word p:first-child{
	font-size: 18px;
    color: #3b3036;
    font-weight: 900;
    line-height: 18px;
    margin-top: 20px;
}
.word p:last-child {
	font-size: 12px;
    color: #2f2f31;
    line-height: 12px;
    margin-top: 16px;

}
.zzc{
	width: 580px;
	height: 400px;
	background: black;
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 80px;
	margin: auto;
	opacity: 0;
}
.ico{
    position: absolute;
    width: 112px;
    height: 42px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 14px;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: none;
    text-align: center;
    line-height: 42px;
}
.ico:hover{
    background-color: white;
    color: black;
}
.case_one:hover .zzc{
    opacity: .4;
   
}
.case_one:hover .ico{
	display: block;
	transition: all 1s;
}

/* 遮罩层小图 3张 */


.case_two{
    height: 370px;
    width: 385px;
    margin-right: 11px;
    float: left;
    position: relative;
}

.case_two img{    
    display: block;
    overflow: hidden;
    border: 0;
}
.word_two{
    width: 385px;
    /* height: 120px; */
    text-align: center;
}
.word_two p{
	font-size: 18px;
    color: #3b3036;
    font-weight: 900;
    line-height: 18px;
    margin-top: 20px;
}

.zzc_two{
	width: 385px;
	height: 311px;
	background: black;
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 60px;
	margin: auto;
	opacity: 0;
}
.ico_two{
    position: absolute;
    width: 112px;
    height: 42px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 14px;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: none;
    text-align: center;
    line-height: 42px;
}
.ico_two:hover{
    background-color: white;
    color: black;
}
.case_two:hover .zzc_two{
    opacity: .4;
   
}
.case_two:hover .ico_two{
	display: block;
	transition: all 1s;
}

/* <!-- 闪能科技 --> */
.select{
    width: 1190px;
    margin: 0 auto;
}
.select_top{
    text-align: center;
    height: 100px;
    padding: 40px 0 30px;
}
.select_top h3{
    font-size: 26px;
    color: #373737;
    font-weight: 100;
    line-height: 35px;
    margin-bottom: 10px;
}
.select_top h2{
    font-size: 26px;
    color: #30333a;
    line-height: 50px;
}

/* 轮播图广告 2个 */
.select_bottom{
}
#selectLeft{
    float: left;
    height: 558px;
}
#bannerLeft{
    width: 580px;
    height: 406px;
    margin-right: 15px;
}
#text{
    text-align: center;
    width: 580px;
}
#text p:nth-of-type(1){
    font-size: 26px;
    color: #090000;
    font-weight: 900;
    margin-top: 20px;
    line-height: 30px;
    margin: 4px 0;
}
#text p:nth-of-type(2){
    font-size: 15px;
    color: #050102;
    line-height: 30px;
    margin: 4px 0;
}
.buy{
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 4px 0;
    height: 30px;
    line-height: 30px;
    width: 104px;
    color: white;
    background-color:black;
    margin: 0 auto;
}

/* 右 */
#selectRight{
    float: right;
    height: 558px;
}
#bannerRight{
    width: 580px;
    height: 406px;
}
/* <!-- 遍历商品 --> */

#bigBox{
    position:relative;
    width:500px;
    height:340px;
    background-image:url(../img/a2.jpg);
    background-size:500px 340px;
}

#mirrorBox{
    position:absolute;
    left:100px;
    top:120px;
    width:100px;
    height:80px;
    background-color:pink;
    opacity:0.5;
    /*display:none;*/
}

#imgList{
    list-style: none;
}			

#imgList li{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 10px;
    background-size: cover;
}
#imgList li:nth-child(1){
    background-image: url(../img/a1.jpg);
}
#imgList li:nth-child(2){
    background-image: url(../img/b1.jpg);
}
#imgList li:nth-child(3){
    background-image: url(../img/c1.jpg);
}

/* 底部 */
.footer{
    height: 371px;
    width: 100%;
    border-top: 3px solid #e2e2e2;
    margin-top: 50px;
}
.footerTop{
    margin: 30px auto;
    content: "";
    display: table;
    clear: both;
}
.serve{
    padding: 0 10px;
    border-right: 1px solid #dbdbdb;
    float: left;
    content: "";
    display: table;
    clear: both;

}
.serve{
    margin-left: 0;
}
.serve li{
    margin: 0 75px;
    float: left;
}
.serve li h3{
    font-weight: bolder;
    font-size: 16px;
    line-height: 32px;
    color: #000;
}
.serve li a{
    display: block;
    line-height: 30px;
    color: #000;
}
/* 客户服务 */
.service{
    margin-left: 100px;
    float: left;
}
.service h4{
    font-weight: bolder;
    font-size: 16px;
    line-height: 32px;
    color: #000;
}
.phone{
    margin: 5px 0 15px;
    display: block;
    height: 40px;
    width: 250px;
    background: url(../img/service-icon.png) -10px -15px no-repeat;
}
.customer{
    margin-bottom: 10px;
    display: block;
    height: 25px;
    width: 135px;
    border: 1px #bdbdbd solid;
    border-radius: 5px;
    color: #333;
}
.customer span{
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    color: #000;
    font-size: 14px;
}
.customer:hover {
    background: #d00;
    border-color: #d00;
    color: white;
}
.customer:hover span{
    color: white;
}
.wenxin{
    display: block;
    height: 90px;
    width: 90px;
    background: url(../img/qr-code.jpg) no-repeat;
}

/* 底部 */
.footerBootom{
    background-color: #000;
    width: 100%;
}

.footerLeft{
    line-height: 60px;
    width: 1190px;
    margin: 0 auto;
    content: "";
    display: table;
}
.footerLeft span{
    margin-right: 15px;
    display: block;
    float: left;
    color: #fff;
    line-height: 60px;
}


.company-img{
    height: 33px;
    width: 34px;
    margin-top: 10px;
    margin-right: 20px;
    vertical-align: baseline;
    display: block;
    float: left;
    line-height: 60px;
}
.footerRight{
    float: right;
    line-height: 60px;

}
.footerRight a{
    margin-right: 8px;
    color: #fff;
    line-height: 60px;
}
/* 导航栏 */
