@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 12px;
  font-family: arial,"Hiragino Sans GB","Microsoft YaHei","微軟正黑體","儷黑 Pro",sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

.header {
  width: 100%;
  height: 27px;
  line-height: 27px;
  border-bottom: 1px solid #eeeeee;
  background: #fafafa;
}
.header .headerLeft {
  width: 1190px;
  min-width: 1011px;
  margin: 0 auto;
}
.header .headerLeft p {
  color: #666666;
  float: left;
  margin-right: 12px;
}
.header .headerLeft .enter {
  float: left;
}
.header .headerLeft .enter a {
  margin-right: 12px;
  color: #666666;
}
.header .headerLeft .headerRight {
  line-height: 27px;
  float: right;
}
.header .headerLeft .headerRight .collect {
  float: left;
  font-size: 12px;
  width: 70px;
}
.header .headerLeft .headerRight .star {
  display: inline;
}
.header .headerLeft .headerRight .star a {
  color: #666666;
  font-size: 12px;
}
.header .headerLeft .headerRight .star b {
  display: block;
  float: left;
  width: 12px;
  height: 11px;
  margin: 7px 4px 0 0;
  background: url(../registerImg/star.jpg) no-repeat 0 0;
  cursor: pointer;
}
.header .headerLeft .headerRight .brand {
  float: left;
  color: #666666;
  font-size: 12px;
  background: url(../registerImg/xt.jpg) 0 7px no-repeat;
  padding-left: 10px;
  margin-left: 10px;
  line-height: 27px;
}
.header .headerLeft .headerRight .purchase {
  float: left;
  color: #666666;
  font-size: 12px;
  background: url(../registerImg/xt.jpg) 0 7px no-repeat;
  padding-left: 10px;
  margin-left: 10px;
  line-height: 27px;
  cursor: pointer;
}
.header .headerLeft .headerRight .mall {
  float: left;
  background: url(../registerImg/xt.jpg) 0 7px no-repeat;
  padding-left: 10px;
  margin-left: 10px;
  line-height: 27px;
  padding-left: 4px;
}
.header .headerLeft .headerRight .mall b {
  display: block;
  float: left;
  width: 12px;
  height: 15px;
  background: url(../registerImg/iconfont.gif) 0 0 no-repeat;
  margin: 6px 4px 0 10px;
}

.orderForm {
  margin: 0 0 20px 0;
  border-bottom: 2px solid #f3ebeb;
}
.orderForm .order {
  width: 1190px;
  margin: 0 auto;
  padding: 20px 0 10px;
  height: 72px;
}
.orderForm .order .logo {
  float: left;
}
.orderForm .order .form {
  float: right;
  padding-top: 20px;
}
.orderForm .order .form ul {
  width: 446px;
  height: 30px;
  background: url(../registerImg/cartnew_flow.png) no-repeat top right;
  float: right;
}
.orderForm .order .form ul li {
  width: 176px;
  height: 30px;
  text-align: center;
  color: #999;
  float: left;
}
.orderForm .order .form ul li span {
  display: block;
  height: 15px;
  padding: 15px 0 0 0;
  line-height: 15px;
}
.orderForm .order .form ul li .myShopping {
  background: url(../registerImg/cart_flow_black.gif) no-repeat top center;
}
.orderForm .order .form ul .succeed {
  width: 94px;
  text-align: right;
}

.w_cart {
  width: 1190px;
  margin: 0 auto;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.shopping {
  width: 1050px;
  margin: 0 auto;
}
.shopping .group {
  height: 32px;
}
.shopping .group h2 {
  width: 115px;
  font-size: 20px;
  float: left;
  font-weight: 900;
  position: relative;
}
.shopping .group .discount {
  display: inline-block;
  position: absolute;
  width: 120px;
  height: 100%;
}
.shopping .group .discount .coupon {
  position: absolute;
  right: 0;
  bottom: 0;
}
.shopping .group .discount .coupon img {
  width: 100%;
  border: 0;
}
.shopping .group .discount .pro-coupons-box {
  right: initial;
  left: 0;
}
.shopping .w_Table {
  width: 100%;
}
.shopping .w_Table td {
  padding: 15px 0;
  text-align: center;
}
.shopping .w_Table tr:first-child td {
  border-top: 0px solid #ccc;
}
.shopping .w_Table thead tr {
  background-color: #F5F5F5;
  height: 30px;
}
.shopping .w_Table thead tr td {
  text-align: center;
}
.shopping .w_Table tbody {
  background-color: white;
}
.shopping .w_Table tbody .shop .ridioButton {
  text-align: center;
}
.shopping .w_Table tbody .shop .message {
  text-align: left;
}
.shopping .w_Table tbody .shop .message h2 a {
  font-size: 16px;
}
.shopping .w_Table tbody .shop .message span {
  font-size: 12px;
  color: #818181;
}
.shopping .w_Table tbody .shop .price span {
  display: block;
}
.shopping .w_Table tbody .shop .price :first-child {
  text-decoration: line-through;
  color: #818181;
  margin-bottom: 3px;
}
.shopping .w_Table tbody .shop .quantity .direction {
  width: 140px;
  height: 30px;
  margin: 0 auto;
  border: 1px solid #ddd;
}
.shopping .w_Table tbody .shop .quantity .direction .add {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}
.shopping .w_Table tbody .shop .quantity .direction input {
  width: 78px;
  height: 30px;
  text-align: center;
  border-top: 0;
  border-bottom: 0;
  float: left;
  border: 1px solid #ccc;
}
.shopping .w_Table tbody .shop .quantity .direction .minus {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}
.shopping .w_Table tbody .discount .coupon {
  border-top: 1px solid #dddddd;
}
.shopping .w_Table tbody .discount .coupon h2 {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
}
.shopping .w_Table tbody .discount .coupon .coupon-top {
  text-align: left;
  margin: 5px 0;
  border: 1px solid #ddd;
}
.shopping .w_Table tbody .discount .coupon .coupon-bottom {
  border: 1px solid #ddd;
}
.shopping .w_Table tbody .close .empty {
  border-top: 1px solid #ddd;
}
.shopping .w_Table tbody .close .empty .remove {
  clear: both;
  padding: 25px 0 15px;
}
.shopping .w_Table tbody .close .empty .remove .f1 {
  float: left;
  display: inline;
}
.shopping .w_Table tbody .close .empty .remove .deleteShop a {
  color: #005ea7;
  margin: 0 10px;
  display: block;
  float: left;
}
.shopping .w_Table tbody .closeRight {
  text-align: right;
}
.shopping .w_Table tbody .closeRight p {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: right;
}
.shopping .w_Table tbody .closeRight p label {
  text-align: right;
}
.shopping .w_Table tbody .closeRight p span {
  width: 100px;
  display: inline-block;
  color: #dd0000;
}
.shopping .w_Table tbody .account {
  border-top: 1px solid #dddddd;
}
.shopping .w_Table tbody .account .clearing {
  text-align: right;
  background-color: #F5F5F5;
}
.shopping .w_Table tbody .account .clearing :first-child {
  display: inline-block;
  width: 130px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #cccccc;
  line-height: 35px;
  text-align: center;
  border-radius: 2px;
  margin-right: 10px;
}
.shopping .w_Table tbody .account .clearing :last-child {
  display: inline-block;
  width: 130px;
  height: 35px;
  color: white;
  background-color: #dd0000;
  border: 1px solid #dd0000;
  line-height: 35px;
  border-radius: 2px;
  margin-right: 10px;
  text-align: center;
}

.pro-coupons-box {
  position: absolute;
  width: 270px;
  right: 0;
  top: 100%;
  background: #fff;
  z-index: 10;
  margin-top: 10px;
  border: 1px solid #bbb;
  cursor: default;
  display: none;
}
.pro-coupons-box .coupons-list {
  padding: 0 10px 10px;
}
.pro-coupons-box p {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #eee;
  color: #000;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
}
.pro-coupons-box p span {
  color: #000;
  float: initial;
  margin: 0;
  padding: 0;
}
.pro-coupons-box p .coupons-close {
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #999;
  color: #fff;
  line-height: 12px;
}

/*# sourceMappingURL=shoppingCar.css.map */
